.main__wrapper {
  margin: 81px 120px 0;
}

.main__intro {
  min-height: 463px;
}

.main__benefits {
  margin-top: 48px;
}

.main__popular {
  margin: 80px 203px 0;
}

.main__catalog {
  margin-top: 80px;
}

.main__discount {
  margin-top: 80px;
}

.main__stages {
  margin-top: 80px;
  text-align: center;
}

.main__news {
  margin-top: 80px;
}

.main__reviews {
  margin-top: 80px;
  padding: 40px 44px 64px;
  text-align: center;
  border: 1px solid $content;
}

.main__contacts {
  position: relative;
  margin-top: 80px;
  width: 100%;
  min-height: 644px;
  height: 100%;
  background-image: url("../../img/map@1x.png");
  background-position: 0 0;
  background-size: cover ;
}