.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__link {
  @include menu-text($content);
  display: inline-block;
  position: relative;

  &--footer {
    @include menu-text($basic-white);
  }

  &:hover {
    color: rgba($color: $menu-hover, $alpha: 1.0);

    &::after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($color: $menu-hover, $alpha: 1.0);
    }
  }


}