.news {
display: grid;
grid-template-columns: 387px 1fr;
column-gap: 121px;
}

.news__watch-wrapper {
  padding-top: 70px;
}

.news__watch-title {
  @include title(36px,48px,700,$content);
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: 0.02em;
}

.news__watch-text {
  @include text(24px,29px,$content);
  margin-top: 40px;

  & span {
    white-space: nowrap;
  }
}

.news__social {
  margin-top: 40px;
  max-width: 97px;
}

.news__pic-list {
  display: grid;
  grid-template-columns: 285px 1fr;
  gap: 20px;
}

.news__item {
  &:last-child {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}