.page-header {
  position: relative;
  padding: 16px calc((120 / var(--width-body)) * 100%) 16px ;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: $content;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $content;
  }
}