.social {
  &--footer {
    display: flex;
    justify-content: space-between;
    min-width: 97px;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: inline-block;

  &--footer {
  .social__instagram-icon,
  .social__facebook-icon,
  .social__twitter-icon {
      fill: $basic-white;
    }
  }

  &:hover {
    .social__instagram-icon,
    .social__facebook-icon,
    .social__twitter-icon {
      fill: rgba($color: brown, $alpha: 1.0);
      }

  }
}

.social__instagram-icon,
.social__facebook-icon,
.social__twitter-icon {
  fill: $button;
}