// Colors
$basic-white: #ffffff;
$basic-black: #000000;
$bg-color: #f2f3f4;
$lines: #d7d9df;
$button: #d89999;
$content: #ae7c78;
$item-hover: rgba(174,124,120,0.6);
$back: #f7fafc;
$back-body: #e5e5e5;
$btn-hover: #810040;
$menu-hover: brown;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

:root{
  --width-body: 1440;
}
